<div class='container-fluid site-container'>
    <div class='row'>
        <div class='col-12'>
            <div>
                <nav-menu></nav-menu>
            </div>
        </div>
    </div>
    <div class='col-12 body-content'>
        <div>
            <router-outlet></router-outlet>
            <div class="site-background">
                <carousel>
                    <slide>
                        <div id="slide-image1"></div>
                        <!-- <img src="../../../../../media/IMG_8016.jpg" alt="slide1"> -->
                    </slide>
                    <slide>
                            <div id="slide-image2"></div>
                        <!-- <img src="../../../../../media/IMG_8021.jpg" alt="slide2"> -->
                    </slide>
                    <slide>
                            <div id="slide-image3"></div>
                        <!-- <img src="../../../../../media/IMG_8022.jpg" alt="slide3"> -->
                    </slide>
                    <slide>
                            <div id="slide-image4"></div>
                        <!-- <img src="../../../../../media/IMG_8026.jpg" alt="slide4"> -->
                    </slide>
                    <slide>
                            <div id="slide-image5"></div>
                        <!-- <img src="../../../../../media/IMG_8031.jpg" alt="slide5"> -->
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>